In [4]:
import pandas as pd
import re

Solution 1

In [4]:
Sample='Python Exercises, PHP exercises.'
replace=re.sub("[ ,.]",":",Sample)
replace

'Python:Exercises::PHP:exercises:'

Solution 2

In [5]:
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
dict
df=pd.DataFrame(dict)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [6]:
df['SUMMARY'] = df['SUMMARY'].str.replace(r'[^a-zA-Z\s]', '', regex=True)

In [7]:
df

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [8]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[X]', '', regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

Solution 3

In [9]:
def words(sample):
    pattern=re.compile(r'\b\w{4,}\b')
    match=pattern.findall(sample)
    return match

In [10]:
sample="Hello this is my first assignment and I am very excited to learn more"
result=words(sample)
result

['Hello', 'this', 'first', 'assignment', 'very', 'excited', 'learn', 'more']

Solution 4

In [11]:
def newwords(newsample):
    newpattern=re.compile(r'\b\w{3,5}\b')
    newmatch=newpattern.findall(newsample)
    return newmatch

In [12]:
newsample="Hello this is my first assignment and I am very excited to learn more"
result=newwords(newsample)
result

['Hello', 'this', 'first', 'and', 'very', 'learn', 'more']

Solution 5

In [28]:
def remove(strings):
    pattern= re.compile(r"[\(\)\]]")
    modified_strings = []
    for string in strings:
     newstring = re.sub(pattern, " ", string)
     modified_strings.append(newstring)
    return modified_strings

In [29]:
sample=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
remove(sample)

['example  .com ',
 'hr@fliprobo  .com ',
 'github  .com ',
 'Hello  Data Science World ',
 'Data  Scientist ']

Solution 6

In [25]:
 with open('soln6.txt', 'r') as file:
  text = file.read()
text

'Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

In [27]:
pattern = re.sub(r"[\(\)\]]", "", text) 
pattern

'Sample Text: ["example .com", "hr@fliprobo .com", "github .com", "Hello Data Science World", "Data Scientist"'

Solution 7

In [16]:
text='ImportanceOfRegularExpressionsInPython'
pattern=re.findall(('[A-Z][a-z]*'),text)
pattern

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Solution 8

In [47]:
def space(text):
     pattern = re.compile(r"(\d+)([A-Za-z]+)")
     result = re.sub(pattern,r' \1\2', text)
     return result

In [48]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
space(text)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Solution 9

In [49]:
def insert_spaces(text):
  pattern = r'([A-Z][a-z]+|\d+)'
  result = re.sub(pattern, r' \1', text)
  return result

In [50]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

Solution 10

In [20]:
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [21]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [22]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [23]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Solution 11

In [71]:
def matching(statement):
    pattern=re.compile(r'(^[A-Za-z0-9\_]*$)')
    if re.search(pattern,statement):
        print("True")
    else:
        print("False")

In [72]:
matching("HelloMY Name is himani 123")

False

In [73]:
matching("h3123")

True

Solution 12

In [27]:
string='1234himani'
pattern=re.compile(r'1')
if pattern.match(string):
     print('True')
else:
    print('False')

True

Solution 13

In [28]:
def zero(ip):
    new_ip=re.sub('\.0*','.',ip)
    print(new_ip)

In [29]:
zero('123.097.002')

123.97.2


Solution 14 need review

In [93]:
with open('datefile.txt', 'r') as file:
  text = file.read()

In [94]:
text

"' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Countryâ€™."

In [100]:
pattern=(r'\b([A-Z][a-z]+) \d{1,2}(?:st|th|nd|rd)? \d{4}\b')
date=re.findall(pattern,text)
print(date)

['August']

Solution 15

In [103]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for',(pattern))
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for fox
Matched!
Searching for dog
Matched!
Searching for horse
Not Matched!

solution 16

In [34]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

solution 17

In [35]:
statement="'Python exercises, PHP exercises, C# exercises"
pattern='exercises'
result=re.findall(pattern,statement)
print('The matched substring is ',result)

The matched substring is  ['exercises', 'exercises', 'exercises']

solution 18

In [106]:
statement="Python exercises, PHP exercises, C# exercises"
pattern='exercises'
for match in re.finditer(pattern,statement):
    s = match.start()
    e = match.end()
    r=match
    print((r, s, e))

(<re.Match object; span=(7, 16), match='exercises'>, 7, 16)
(<re.Match object; span=(22, 31), match='exercises'>, 22, 31)
(<re.Match object; span=(36, 45), match='exercises'>, 36, 45)

Solution 19

In [37]:
def dateformat(d):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',d)

In [38]:
dateformat('1995-11-19')

'19-11-1995'

Solution 20

In [39]:
def decimals(num):
    pattern=re.compile(r'\b\d*\.\d{1,2}\b')
    return pattern.findall(num)

In [40]:
decimals("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

['01.12', '145.8', '3.01', '27.25', '0.25']

Solution 21

In [41]:
text="I am 29 yrs old and my baby is 14 months old"
pattern=(r'\d+')
for p in re.finditer(pattern,text):
    print(p.group(0))
    print('position',p.start())

29
position 5
14
position 31

Solution 22

In [42]:
sample='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
num=re.findall(r'\d+',sample)
num

['947', '896', '926', '524', '734', '950', '642']

In [43]:
num=map(int,num)
print(max(num))

950

Solution 23

In [44]:
def space(text):
    return re.sub(r'(\w)([A-Z])',r'\1 \2',text)

In [45]:
space("RegularExpressionIsAnImportantTopicInPython")

'Regular Expression Is An Important Topic In Python'

Solution 24

In [46]:
def upper(txt):
    pattern=re.compile(r'[A-Z][a-z]+')
    if pattern.search(txt):
        print("Match found")
    else:
        print("Match not found")

In [47]:
upper("Himani")

Match found

In [48]:
upper("himani")

Match not found

Solution 25

In [49]:
def duplicate(string):
      Pattern = r"\b(\w+)(?:\W\1\b)+"
      return re.sub(Pattern, r"\1",string)

In [50]:
duplicate("Hello hello world world")

'Hello hello world'

Solution 26

In [107]:
def alpha(string):
    pattern=r"[A-Za-z0-9]$"
    if (re.search(pattern,string)):
        print("Matched")
    else:
        print("Not Matched")

In [109]:
alpha('HImani')

Matched

In [110]:
alpha('HImani#')

Not Matched

Solution 27

In [115]:
text1="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [117]:
result=re.findall(r'\#[A-Za-z0-9]*\b',text1)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Solution 28

In [53]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [55]:
pattern=r'<U\+\w{4}>'
result=re.sub(pattern,"",text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Solution 29

In [56]:
with open('datenew.txt', 'r') as file:
  text = file.read()

In [57]:
text

'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

In [63]:
result=re.findall(r'\d{2}\-\d{2}\-\d{4}',text)
print(result)

['12-09-1992', '15-12-1999']

Solution 30

In [69]:
sample="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [73]:
pattern=re.compile(r'(\b\w{2,4}\b)')
result=re.sub(pattern,"",sample)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

End