In [1]:
import numpy as np
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests

Solution 1

In [35]:
driver=webdriver.Chrome()

In [36]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [37]:
rank=[]
for i in range(1,31):
    rank.append(i)
name=[]
artist=[]
date=[]
views=[]

In [38]:
nametag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in nametag:
    name.append(i.text)

In [39]:
rank

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [40]:
name

['"Baby Shark Dance"[7]',
 '"Despacito"[10]',
 '"Johny Johny Yes Papa"[18]',
 '"Bath Song"[19]',
 '"Shape of You"[20]',
 '"See You Again"[23]',
 '"Wheels on the Bus"[28]',
 '"Phonics Song with Two Words"[29]',
 '"Uptown Funk"[30]',
 '"Gangnam Style"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[36]',
 '"Masha and the Bear – Recipe for Disaster"[37]',
 '"Dame Tu Cosita"[38]',
 '"Axel F"[39]',
 '"Sugar"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Counting Stars"[42]',
 '"Roar"[43]',
 '"Lakdi Ki Kathi"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Sorry"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Thinking Out Loud"[48]',
 '"Shree Hanuman Chalisa"[49]',
 '"Perfect"[50]',
 '"Dark Horse"[51]',
 '"Let Her Go"[52]',
 '"Faded"[53]',
 '"Girls Like You"[54]',
 '"Lean On"[55]']

In [41]:
artisttag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artisttag:
    artist.append(i.text)

In [42]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'Cocomelon - Nursery Rhymes',
 'OneRepublic',
 'Katy Perry',
 'Jingle Toons',
 'Shakira',
 'Justin Bieber',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'T-Series Bhakti Sagar',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [43]:
datetag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in datetag:
    date.append(i.text)

In [44]:
viewstag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in viewstag:
    views.append(i.text)

In [45]:
date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'June 25, 2018',
 'May 31, 2013',
 'September 5, 2013',
 'June 14, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'January 26, 2018',
 'October 7, 2014',
 'May 10, 2011',
 'November 9, 2017',
 'February 20, 2014',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [46]:
views

['14.22',
 '8.40',
 '6.88',
 '6.65',
 '6.22',
 '6.20',
 '5.95',
 '5.73',
 '5.17',
 '5.09',
 '5.08',
 '4.58',
 '4.57',
 '4.40',
 '4.02',
 '3.99',
 '3.99',
 '3.97',
 '3.95',
 '3.88',
 '3.78',
 '3.75',
 '3.74',
 '3.74',
 '3.69',
 '3.69',
 '3.63',
 '3.60',
 '3.57',
 '3.56']

In [47]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views in Billions':views,'Date':date})

In [48]:
df

,Rank,Name,Artist,Views in Billions,Date
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.22,"June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,8.40,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.88,"October 8, 2016"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.65,"May 2, 2018"
4,5,"""Shape of You""[20]",Ed Sheeran,6.22,"January 30, 2017"
5,6,"""See You Again""[23]",Wiz Khalifa,6.20,"April 6, 2015"
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,5.95,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.73,"March 6, 2014"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.17,"November 19, 2014"
9,10,"""Gangnam Style""[31]",Psy,5.09,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.08,"February 27, 2018"
11,12,"""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,4.58,"January 31, 2012"
12,13,"""Dame Tu Cosita""[38]",Ultra Records,4.57,"April 5, 2018"
13,14,"""Axel F""[39]",Crazy Frog,4.40,"June 16, 2009"
14,15,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.99,"June 25, 2018"
16,17,"""Counting Stars""[42]",OneRepublic,3.99,"May 31, 2013"
17,18,"""Roar""[43]",Katy Perry,3.97,"September 5, 2013"
18,19,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.95,"June 14, 2018"
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.88,"June 4, 2010"
20,21,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.75,"January 26, 2018"
22,23,"""Thinking Out Loud""[48]",Ed Sheeran,3.74,"October 7, 2014"
23,24,"""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,3.74,"May 10, 2011"
24,25,"""Perfect""[50]",Ed Sheeran,3.69,"November 9, 2017"
25,26,"""Dark Horse""[51]",Katy Perry,3.69,"February 20, 2014"
26,27,"""Let Her Go""[52]",Passenger,3.63,"July 25, 2012"
27,28,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,29,"""Girls Like You""[54]",Maroon 5,3.57,"May 31, 2018"
29,30,"""Lean On""[55]",Major Lazer Official,3.56,"March 22, 2015"

Solution 2

In [49]:
driver=webdriver.Chrome()

In [50]:
driver.get('http://www.bcci.tv/')

In [51]:
fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures.click()

In [52]:
series=[]
place=[]
date=[]
time=[]

In [54]:
seriestag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in seriestag:
    series.append(i.text)

In [55]:
series

['ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'ICC MENS T20 WORLD CUP 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [56]:
placetag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in placetag:
    place.append(i.text)

In [57]:
place

['Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Nassau County International Cricket Stadium, New York',
 'Central Broward Park & Broward County Stadium, Lauderhill, Florida',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare',
 'Harare Sports Club, Harare']

In [58]:
datetag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in datetag:
    date.append(i.text)

In [59]:
date

['5 JUNE, 2024',
 '9 JUNE, 2024',
 '12 JUNE, 2024',
 '15 JUNE, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [60]:
timetag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in timetag:
    time.append(i.text)

In [61]:
time

['8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [63]:
df=pd.DataFrame({'Seires':series,'Place':place,'Date':date,'Time':time})

In [64]:
df

,Seires,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

Solution 3

In [6]:
driver=webdriver.Chrome()

In [7]:
driver.get('http://statisticstimes.com/')

In [8]:
drop=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
drop.click()

In [9]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [10]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [17]:
rank=[]
state=[]
gsdpone=[]
gsdptwo=[]
share=[]
gdp=[]

In [18]:
ranktag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in ranktag:
    rank.append(i.text)

In [19]:
statetag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in statetag:
    state.append(i.text)

In [20]:
gsdponetag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gsdponetag:
    gsdpone.append(i.text)

In [21]:
gsdptwotag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in gsdptwotag:
    gsdptwo.append(i.text)

In [22]:
sharetag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in sharetag:
    share.append(i.text)

In [23]:
gdptag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for i in gdptag:
    gdp.append(i.text)

In [32]:
newrank=rank[0:33]
newstate=state[0:33]

In [33]:
newgsdpone=gsdpone[0:33]
newgsdptwo=gsdptwo[0:33]
newshare=share[0:33]
newgdp=gdp[0:33]

In [35]:
df=pd.DataFrame({'Rank':newrank,'State':newstate,'GSDP(22-23)':newgsdpone,'GSDP(21-22)':newgsdptwo,'Share(21-22)':newshare,'GDP($billion)':newgdp})

In [36]:
df

,Rank,State,GSDP(22-23),GSDP(21-22),Share(21-22),GDP($billion)
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,014,688","881,336",3.73%,117.660
12,13,Haryana,"984,055","868,905",3.68%,116.001
13,14,Odisha,"753,177","662,886",2.81%,88.497
14,15,Bihar,"751,396","650,302",2.76%,86.817
15,16,Punjab,"676,164","617,192",2.62%,82.397
16,17,Assam,"493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"464,399","410,525",1.74%,54.806
18,19,Jharkhand,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"191,728","172,162",0.73%,22.984
22,23,Goa,"93,672","84,266",0.36%,11.250
23,24,Tripura,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,"54,285","46,096",0.20%,6.154
25,26,Puducherry,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"42,697","38,785",0.16%,5.178
27,28,Sikkim,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,"39,630","34,775",0.15%,4.643
30,31,Nagaland,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

Solution 4

In [6]:
driver=webdriver.Chrome()

In [7]:
driver.get('https://github.com/')

In [8]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [9]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [10]:
title=[]
description=[]
count=[]
language=[]

In [11]:
titletag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in titletag:
    title.append(i.text)

In [12]:
title

['heyform / heyform',
 'jasonppy / VoiceCraft',
 'microsoft / generative-ai-for-beginners',
 'Mozilla-Ocho / llamafile',
 'OpenBMB / ChatDev',
 'go-nunu / nunu',
 'wandb / openui',
 'codecrafters-io / build-your-own-x',
 'DioxusLabs / dioxus',
 'OpenDevin / OpenDevin',
 'valkey-io / valkey',
 'microsoft / ML-For-Beginners',
 'halfrost / LeetCode-Go',
 'doocs / source-code-hunter',
 'dvlab-research / MiniGemini',
 'billmei / every-chatgpt-gui',
 'developersdigest / llm-answer-engine',
 'city-super / Octree-GS',
 'Atlas-OS / Atlas',
 'jwasham / coding-interview-university',
 'xuchengsheng / spring-reading',
 'TencentARC / BrushNet',
 'upscayl / upscayl',
 'janhq / jan',
 'agiresearch / AIOS']

In [13]:
desctag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desctag:
    description.append(i.text)

In [14]:
description

['HeyForm is an open-source form builder that allows anyone to create engaging conversational forms for surveys, questionnaires, quizzes, and polls. No coding skills required.',
 'Zero-Shot Speech Editing and Text-to-Speech in the Wild',
 '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/',
 'Distribute and run LLMs with a single file.',
 'Create Customized Software using Natural Language Idea (through LLM-powered Multi-Agent Collaboration)',
 'A CLI tool for building Go applications.',
 "OpenUI let's you describe UI using your imagination, then see it rendered live.",
 'Master programming by recreating your favorite technologies from scratch.',
 'Fullstack GUI library for desktop, web, mobile, and more.',
 '🐚 OpenDevin: Code Less, Make More',
 "A new project to resume development on the formerly open-source Redis project. We're calling it Valkey, since it's a twist on the key-value datastore.",
 '12 weeks, 26 lessons, 52 quizzes, classic Machine Learning for all',
 '✅ Solutions to LeetCode by Go, 100% test coverage, runtime beats 100% / LeetCode 题解',
 '😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提供便利。目前开放 Spring 全家桶，Mybatis、Netty、Dubbo 框架，及 Redis、Tomcat 中间件等',
 'Official implementation for Mini-Gemini',
 'Every front-end GUI client for ChatGPT',
 'Build a Perplexity-Inspired Answer Engine Using Next.js, Groq, Mixtral, Langchain, OpenAI, Brave & Serper',
 'Octree-GS: Towards Consistent Real-time Rendering with LOD-Structured 3D Gaussians',
 '🚀 An open and lightweight modification to Windows, designed to optimize performance, privacy and security.',
 'A complete computer science study plan to become a software engineer.',
 '涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编程（AOP）的原理与实践，事务管理的方式与实现，Spring MVC 的流程与控制器工作机制，以及 Spring 中数据访问、安全、Boot 自动配置等方面的深入研究。此外，它还包含了 Spring 事件机制的应用、高级主题如缓存抽象和响应式编程，以及对 Spring 源码的编程风格与设计模式的深入探讨。',
 'The official implementation of paper "BrushNet: A Plug-and-Play Image Inpainting Model with Decomposed Dual-Branch Diffusion"',
 '🆙 Upscayl - Free and Open Source AI Image Upscaler for Linux, MacOS and Windows built with Linux-First philosophy.',
 'Jan is an open source alternative to ChatGPT that runs 100% offline on your computer',
 'AIOS: LLM Agent Operating System']

In [15]:
url=[]
urltag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in urltag:
    url.append(i.get_attribute('href'))

In [16]:
for i in url:
    driver.get(i)
    time.sleep(5)

    try:
        langtag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[7]/div/ul/li[1]/a/span[1]')
        language.append(langtag.text)
    except NoSuchElementException:
        language.append("-")
        
    
    try:
        counttag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[6]/div/h2/a/span')
        count.append(counttag.text)
    except NoSuchElementException:
        count.append('-')

In [21]:
df=pd.DataFrame({'Repository Title':title,'Repository Description':description,'Contributors count':count,'Language used':language})

In [22]:
df

,Repository Title,Repository Description,Contributors count,Language used
0,heyform / heyform,HeyForm is an open-source form builder that al...,5,TypeScript
1,jasonppy / VoiceCraft,Zero-Shot Speech Editing and Text-to-Speech in...,-,-
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",-,-
3,Mozilla-Ocho / llamafile,Distribute and run LLMs with a single file.,-,-
4,OpenBMB / ChatDev,Create Customized Software using Natural Langu...,-,-
5,go-nunu / nunu,A CLI tool for building Go applications.,-,-
6,wandb / openui,OpenUI let's you describe UI using your imagin...,-,-
7,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,-,-
8,DioxusLabs / dioxus,"Fullstack GUI library for desktop, web, mobile...",-,-
9,OpenDevin / OpenDevin,"🐚 OpenDevin: Code Less, Make More",-,-
10,valkey-io / valkey,A new project to resume development on the for...,-,-
11,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",-,-
12,halfrost / LeetCode-Go,"✅ Solutions to LeetCode by Go, 100% test cover...",46,Go
13,doocs / source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,30,Java
14,dvlab-research / MiniGemini,Official implementation for Mini-Gemini,-,-
15,billmei / every-chatgpt-gui,Every front-end GUI client for ChatGPT,-,-
16,developersdigest / llm-answer-engine,Build a Perplexity-Inspired Answer Engine Usin...,-,-
17,city-super / Octree-GS,Octree-GS: Towards Consistent Real-time Render...,-,-
18,Atlas-OS / Atlas,🚀 An open and lightweight modification to Wind...,-,-
19,jwasham / coding-interview-university,A complete computer science study plan to beco...,305,-
20,xuchengsheng / spring-reading,涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编...,-,-
21,TencentARC / BrushNet,"The official implementation of paper ""BrushNet...",-,-
22,upscayl / upscayl,🆙 Upscayl - Free and Open Source AI Image Upsc...,-,-
23,janhq / jan,Jan is an open source alternative to ChatGPT t...,-,-
24,agiresearch / AIOS,AIOS: LLM Agent Operating System,-,-

Solution 5

In [28]:
driver=webdriver.Chrome()

In [29]:
driver.get('https://www.billboard.com/')

In [30]:
source=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
source.click()

In [33]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,1000)")

In [34]:
song=[]
artist=[]
weekrank=[]
peakrank=[]
weeksonboard=[]

In [35]:
songtag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in songtag:
    song.append(i.text)

In [37]:
arttag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in arttag:
    artist.append(i.text)

In [39]:
weekranktag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in weekranktag:
    weekrank.append(i.text)

In [41]:
peakranktag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in peakranktag:
    peakrank.append(i.text)

In [44]:
weekonboardtag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in weekonboardtag:
    weeksonboard.append(i.text)

In [46]:
df=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':weekrank,'Peak Rank':peakrank,'Weeks on board':weeksonboard})

In [47]:
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Lose Control,Teddy Swims,1,1,33
3,Too Sweet,Hozier,-,5,1
4,Cinderella,"Future, Metro Boomin & Travis Scott",-,6,1
...,...,...,...,...,...
94,La Victima,Xavi,77,46,15
95,Tucson Too Late,Jordan Davis,81,81,4
96,Empire Now,Hozier,-,98,1
97,Girl I've Always Been,Olivia Rodrigo,-,99,1
98,Outskirts,Sam Hunt,92,92,3

Solution 6

In [48]:
driver=webdriver.Chrome()

In [49]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [57]:
book=[]
author=[]
volume=[]
publisher=[]
genre=[]

In [58]:
booktag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in booktag:
    book.append(i.text)

In [59]:
authortag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in authortag:
    author.append(i.text)

In [60]:
volumetag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumetag:
    volume.append(i.text)

In [62]:
publishertag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publishertag:
    publisher.append(i.text)

In [64]:
genretag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genretag:
    genre.append(i.text)

In [66]:
df=pd.DataFrame({'Book name':book,'Author name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre})

In [67]:
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Solution 7

we were asked to skip this problem

Solution 8

In [52]:
driver=webdriver.Chrome()

In [53]:
driver.get('https://archive.ics.uci.edu/')

In [ ]:
but1=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
but1.click()

In [57]:
but2=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
but2.click()

In [58]:
dataset=[]
datatype=[]
instances=[]
year=[]
feature=[]
featuretype=[]

In [59]:
datasettag=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2')
for i in datasettag:
    dataset.append(i.text)

In [60]:
datatag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in datatag:
    datatype.append(i.text)

In [61]:
instancetag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in instancetag:
    instances.append(i.text)

In [62]:
featuretag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for i in featuretag:
    feature.append(i.text)

In [63]:
feature

['4 Features',
 '16 Features',
 '13 Features',
 '7 Features',
 '14 Features',
 '8 Features',
 '30 Features',
 '13 Features',
 '12 Features',
 '20 Features']

In [64]:
featuretypetag=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in featuretypetag:
    featuretype.append(i.text)

In [65]:
yeartag=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for i in yeartag:
    year.append(i.text)

In [66]:
year

['7/1/1988',
 '9/14/2020',
 '7/1/1988',
 '10/6/2019',
 '5/1/1996',
 '8/14/2023',
 '11/1/1995',
 '7/1/1991',
 '10/7/2009',
 'N/A']

In [67]:
df=pd.DataFrame({'Dataset name':dataset,'Data type':datatype,'Feature':feature,'Feature type':featuretype,'No. of instances':instances,'Year':year})

In [68]:
df

,Dataset name,Data type,Feature,Feature type,No. of instances,Year
0,Iris,Tabular,4 Features,Real,150 Instances,7/1/1988
1,Dry Bean,Multivariate,16 Features,"Integer, Real",13.61K Instances,9/14/2020
2,Heart Disease,Multivariate,13 Features,"Categorical, Integer, Real",303 Instances,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,7 Features,Real,3.81K Instances,10/6/2019
4,Adult,Multivariate,14 Features,"Categorical, Integer",48.84K Instances,5/1/1996
5,Raisin,Multivariate,8 Features,"Real, Integer",900 Instances,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,30 Features,Real,569 Instances,11/1/1995
7,Wine,Tabular,13 Features,"Integer, Real",178 Instances,7/1/1991
8,Wine Quality,Multivariate,12 Features,Real,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",20 Features,"Categorical, Integer",1 Instances,N/A