In [1]:
import selenium
import pandas as pd
import time
import re
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

Solution 1

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
job.send_keys("Data Scientist")

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
location=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[3]/input')
location.click()

In [ ]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/input')
salary.click()

In [9]:
jobtitle=[]
joblocation=[]
company=[]
experience=[]

In [10]:
titletag=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in titletag:
    jobtitle.append(i.text)
    

location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location:
    joblocation.append(i.text)


companytag=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in companytag:
    company.append(i.text)

exptag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exptag:
    experience.append(i.text)

In [11]:
newtitle=jobtitle[0:10]
newloc=joblocation[0:10]
newcomp=company[0:10]
newexp=experience[0:10]

In [12]:
df=pd.DataFrame({'Job Title':newtitle,'Location':newloc,'Company':newcomp,'Experience':newexp})
df

,Job Title,Location,Company,Experience
0,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
2,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
3,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
4,,"Pune, Gurugram",ZS Associates,2-4 Yrs
5,,"Noida, Mumbai, Pune",NeoSOFT,4-7 Yrs
6,Data Scientist,Noida,Innovaccer,2-7 Yrs
7,Data Scientist,Noida,Times Internet,3-8 Yrs
8,Data Scientist,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",The Scholar,3-8 Yrs
9,Lead Customer Success - Data Scientist,"Gurugram, Bengaluru",Acenet,3-4 Yrs

Solution 2

In [13]:
driver=webdriver.Chrome()

In [14]:
driver.get('https://www.shine.com/')

In [15]:
jobtitle=driver.find_element(By.CLASS_NAME,"input")
jobtitle.send_keys("Data Scientist ")

In [16]:
search=driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

In [17]:
title=driver.find_element(By.CLASS_NAME,"form-control")
title.send_keys("Data Scientist")

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [21]:
job_title=[]
job_loc=[]
company=[]
experience=[]

In [22]:
titletag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in titletag:
    job_title.append(i.text)

In [23]:
locationtag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locationtag:
    job_loc.append(i.text)

In [24]:
companytag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in companytag:
    company.append(i.text)

In [25]:
experiencetag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experiencetag:
    experience.append(i.text)

In [26]:
j=job_title[0:10]
c=company[0:10]
l=job_loc[0:10]
e=experience[0:10]

In [27]:
df=pd.DataFrame({'Job Title':j,'Company':c,'Location':l,'Experience':e})

In [28]:
df

,Job Title,Company,Location,Experience
0,Data Scientist Opening,renuka interprises,Bangalore\n+15,0 to 4 Yrs
1,Data Scientist Recruitment,renuka interprises,Bangalore\n+15,0 to 4 Yrs
2,Data Scientist,radhika enterprises,Bangalore\n+9,0 to 4 Yrs
3,ML Data Scientist,techno endura,Bangalore\n+8,0 to 2 Yrs
4,Data Scientist Urgent Vacancy,gujarat facility services hiring fo...,Bangalore\n+3,5 to 8 Yrs
5,Data Scientist,renuka interprises,Bangalore\n+15,0 to 4 Yrs
6,Data Scientist Recruitment,acme services private limited,Bangalore\n+4,3 to 5 Yrs
7,Data Scientist Recruitment,renuka interprises,Bangalore\n+15,0 to 4 Yrs
8,Clinical Data Associate,renuka interprises,Bangalore\n+15,0 to 4 Yrs
9,Data Scientist,techno endura,Bangalore\n+6,0 to 1 Yr

Solution 3

In [30]:
driver=webdriver.Chrome()

In [31]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [32]:
rating=[]
review=[]
full_review=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    ratingtag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratingtag:
        rating.append(i.text)
        
    reviewtag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewtag:
        review.append(i.text)
    
    fullreviewtag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in fullreviewtag:
        full_review.append(i.text)
    
    nextbutton=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    nextbutton.click()
    time.sleep(3)

In [ ]:
len(rating),len(review),len(full_review)

In [48]:
r=rating[0:100]
summary=review[0:100]
f=full_review[0:100]

In [49]:
df=pd.DataFrame({'Rating':r,'Review Summary':summary,'Full Review':f})
df

,Rating,Review Summary,Full Review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Fabulous!,Super🔥 and good performance 👌❤️
3,5,Terrific,Very very good
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
...,...,...,...
95,5,Fabulous!,Best phone ur money can get specially if u wan...
96,3,Very Good,Very very good excellent thank you for Flipkart
97,5,Worth every penny,Wow I loved this😌❤️thank you Flipkart for show...
98,5,Must buy!,iPhone camera
99,5,Worth the money,Daylight Camera quality is best at this price ...

Solution 4

In [50]:
driver=webdriver.Chrome()

In [51]:
driver.get('https://www.flipkart.com/')

In [52]:
sneakers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
sneakers.send_keys('Sneakers')

In [53]:
button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
button.click()

In [54]:
brand=[]
product=[]
price=[]

In [56]:
start=0
end=3
for page in range(start,end):
    brandtag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brandtag:
        brand.append(i.text)
    
    producttag=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in producttag:
        product.append(i.text)
    
    pricetag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pricetag:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [57]:
len(brand),len(price),len(product)

(167, 159, 160)

In [59]:
newbrand=brand[0:100]
newprice=price[0:100]
newproduct=product[0:100]

In [60]:
df=pd.DataFrame({'Brand':newbrand,'Product Details':newproduct,'Price':newprice})

In [61]:
df

          Brand                                    Product Details   Price
0      URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
1        BRUTON               Modern Trendy Shoes Sneakers For Men    ₹294
2      URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
3     Deals4you                                 Sneakers For Women    ₹439
4      RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ₹1,179
..          ...                                                ...     ...
95  bacca bucci  Newton-01 Men's Lightweight Running Shoes Snea...  ₹2,639
96       CAMPUS                    ST Runner v3 L Sneakers For Men  ₹5,590
97         PUMA                             XC 72 Sneakers For Men  ₹1,279
98  New Balance                            Bruten Sneakers For Men  ₹4,199
99     HOTSTYLE                UNO - STAND ON AIR Sneakers For Men  ₹2,399

[100 rows x 3 columns]

Solution 5

In [62]:
driver=webdriver.Chrome()

In [63]:
driver.get('https://www.amazon.in/')

In [64]:
laptop=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('Laptop')

In [65]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [ ]:
checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[10]/li/span/a/div/label/input')
checkbox.click()

In [68]:
title=[]
rating=[]
price=[]

In [69]:
titletag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titletag:
    title.append(i.text)

ratingtag=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in ratingtag:
    rating.append(i.text)
    
pricetag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pricetag:
    price.append(i.text)

In [70]:
newtitle=title[0:10]
newrating=rating[0:10]
newprice=price[0:10]

In [71]:
df=pd.DataFrame({'Title':newtitle,'Rating':newrating,'Price':newprice})
df

                                               Title Rating     Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...           59,990
1  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...           49,990
2  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...           49,990
3  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...           62,990
4  HP Pavilion X360 11th Gen Intel Core i7 14" (3...           62,490
5  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...         1,19,990
6  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...           67,999
7  Dell Inspiron 5430 Laptop, 13th Gen Intel Core...           74,990
8  Acer Travelmate Business Laptop Intel Core i7-...           84,899
9  Lenovo ThinkPad T15g Intel 11th Gen Core i7 15...           86,730

solution 6

In [43]:
driver=webdriver.Chrome()

In [44]:
driver.get('https://www.azquotes.com/')

In [45]:
topquote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquote.click()

In [46]:
quote=[]
author=[]
qtype=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    quotetag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotetag:
        quote.append(i.text)
    
    authortag=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for i in authortag:
        author.append(i.text)
    
    qtypetag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in qtypetag:
        qtype.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()

In [52]:
len(quote),len(author),len(qtype)

(1000, 1000, 1000)

In [54]:
df=pd.DataFrame({'Quote':quote,'Author':author,'Type of Quotes':qtype})
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Solution 7

In [36]:
driver=webdriver.Chrome()

In [37]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [62]:
name=[]
borndead=[]
term=[]
remark=[]

In [63]:
nametag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[2]/div')
for i in nametag:
    name.append(i.text)

In [64]:
name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi']

In [65]:
borntag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[3]/div')
for i in borntag:
    borndead.append(i.text)

In [66]:
borndead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [67]:
termtag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[4]/div[1]')
for i in termtag:
    term.append(i.text)

In [68]:
term

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - 2019',
 '30 May 2019- Incumbent']

In [69]:
remarktag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[5]/div')
for i in remarktag:
    remark.append(i.text)
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'First non-congress PM with two consecutive tenures']

In [70]:
len(name),len(borndead),len(term),len(remark)

(19, 19, 19, 19)

In [72]:
df=pd.DataFrame({'Name of PM':name,'Born-Dead':borndead,'Term of Office':term,'Remark':remark})
df

,Name of PM,Born-Dead,Term of Office,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

Solution 8

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.motor1.com/')

In [4]:
cars=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
cars.send_keys('50 most expensive cars in the world')

In [5]:
button=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
button.click()

In [6]:
click1=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
click1.click()

In [27]:
carname=[]
price=[]

In [28]:
nametag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in nametag:
    carname.append(i.text)

In [33]:
Cars=carname[0:50]

In [30]:
pricetag=driver.find_elements(By.XPATH,'//p/strong')
for i in pricetag:
    price.append(i.text)

In [34]:
len(Cars),len(price)

(50, 50)

In [35]:
df=pd.DataFrame({'Car Name':Cars,'Price':price})
df

                              Car Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)